* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.panel {
    padding: 3em;
    height: 75%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 34px 5px rgba(0, 0, 0, 0.75);
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.panel h1 {
    font-size: 2em;
    font-weight: bold;
}

h1 span {
    font-size: 2em;
    font-weight: bolder;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 2em;
    width: 70%;
}

input {
    height: 2.5em;
    border: none;
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(203, 203, 203);
}

.btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.5em;
    width: 50%;
    margin: auto;
    border-radius: 4px;
    transition: all 0.2s ease-in-out
}

.btn:hover {
    transform: scale(1.1);
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 34px 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.circle:hover {
    transform: translateY(-10px);
}

.circle::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    transform: translateX(-2px);
}


.circle::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--accent-color);
    position: absolute;
    z-index: 99;
    transform: translate(3px);
}