body {
    background-color: var(--bg-color);
    font-family: var(--font-raleway);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    height: 90%;
    aspect-ratio: 3/2;
    display: flex;
    background: white;

    box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.sign-up {
    border: var(--search-bar-border);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: space-evenly;
    justify-content: space-evenly;
}

.sign-in {
    border: var(--search-bar-border);
    border-left: none;
    border-radius: 0 20px 20px 0;
    border-left: none;
    height: 100%;
    width: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: space-evenly;
    justify-content: center;
    background-color: var(--accent-color);
    color: white;
    position: relative;
    overflow: hidden;
}

.sign-in fieldset {
    color: white;
    border-color: white;
}

.sign-in h1 {
    font-size: 3.5rem;
}

input,
select,
textarea {
    padding: 5px;
    margin: 6.4px;
    width: 47%;
    resize: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid lightgray;
    box-shadow: inset 0 0 5px var(--accent-color);
}

.sign-in input:focus,
.sign-in select:focus {
    outline: none;
    border: 2px solid lightgray;
    box-shadow: inset 0 0 5px var(--secondary-color);
}

textarea {
    width: 100%;
}

fieldset {
    padding: 15px;
    margin-block: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input[type="email"] {
    width: 90%;
}

.sign-in input[type="email"] {
    width: 40%;
}

.sign-in input[type="password"] {
    width: 40%;
}

input[name="name"] {
    width: 90%;
}

input[name="street"] {
    width: 55%;
}

input[name="streetNo"] {
    width: 19%;
}

input[name="optAddInfo"] {
    width: 90%;
}

.btn {
    padding: 10px 50px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--secondary-color);
    color: white;
    border-left: 20px solid var(--accent-color);
    border-right: 20px solid var(--accent-color);
}

.sign-in .btn {
    background: var(--secondary-color);
    color: white;
}

.sign-in .btn:hover {
    border-left: 20px solid var(--primary-color);
    border-right: 20px solid var(--primary-color);
}

.circle {
    height: 100px;
    width: 100px;
    left: -25px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--secondary-color);
    transition: all 0.1s cubic-bezier(.84, .35, .15, .9);
}

.circle:hover {
    border-radius: 20px;
}

.spann {
    width: 100%;
    top: -50px;
    left: -125px;
    position: absolute;
    height: 100px;
    z-index: 9991;
}

.spann:nth-child(2) {
    top: 0px;
    left: -50px;
    z-index: 9990;
}

.spann:nth-child(3) {
    top: 50px;
    left: -75px;
    z-index: 8999;

}

.circle:nth-child(2) {
    background: green;
    left: 25px;
    z-index: 2;
}

.circle:nth-child(3) {
    background-color: var(--secondary-color);
    left: 75px;
    z-index: 3;
}

.circle:nth-child(4) {
    background: green;
    left: 125px;
    z-index: 4;
}

.circle:nth-child(5) {
    background-color: var(--secondary-color);
    left: 175px;
    z-index: 5;
}

.circle:nth-child(6) {
    background: green;
    left: 225px;
    z-index: 6;
}

.circle:nth-child(7) {
    background-color: var(--secondary-color);
    left: 275px;
    z-index: 7;
}

.circle:nth-child(8) {
    background: green;
    left: 325px;
    z-index: 8;
}

.circle:nth-child(9) {
    background-color: var(--secondary-color);
    left: 375px;
    z-index: 9;
}

.circle:nth-child(10) {
    background: green;
    left: 425px;
    z-index: 10;
}

.circle:nth-child(11) {
    background: var(--secondary-color);
    left: 475px;
    z-index: 11;
}

.circle:nth-child(12) {
    background: green;
    left: 525px;
    z-index: 12;
}

.circle:nth-child(13) {
    background: var(--secondary-color);
    left: 575px;
    z-index: 13;
}