.recently-viewed h2 {
    padding-bottom: 10px
}

.become-a-seller,
.seller-actions {
    height: 350px;
    padding: 30px;
    display: flex;
}

.become-a-seller {
    background-color: red;
}

.page-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 40px;
}

.seller-actions img {
    height: auto;
}

.revenue {
    height: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.revenue h3 {
    font-size: 3rem;
    color: green;
}

.ama {
    height: 100%;
    font-size: 1.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
}


.buttons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: var(--navbar-shadow);
    transition: all 0.3s ease-in-out;
}

.buttons button:hover {
    transform: scale(1.1);
}

.buttons a:any-link {
    text-decoration: none;
}