* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

header {
    display: flex;
    padding-inline: 50px;
    padding-block: 20px;
    height: 100px;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    font-size: 2.5rem;
    color: white;
    transition: transform 0.1s linear, color 0.1s linear;
}

header h1:hover {
    transform: scale(1.2);
    color: gold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    padding-inline: 50px;
    margin-inline: 20px;
}

header a {
    text-decoration: none;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: transform 0.1s linear, color 0.1s linear;
}

nav a:hover {
    transform: scale(1.2);
    color: gold;
}

footer {
    background-color: black;
    height: 70px;
    display: flex;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: transform 0.1s linear, color 0.1s linear;
}

footer p:hover {
    transform: scale(1.1);
    color: gold;
}

section {
    scroll-margin-top: 100px;
    padding: 50px;
    border: 2px solid whitesmoke;
    margin: 50px 50px;
}

section:last-child {
    margin-bottom: 150px;
}

section:first-child {
    margin-top: 5px;
}

h1 {
    font-size: 5rem;
}

.sticky {
    background-color: #333;
    position: sticky;
    top: 100px;
}

h2 {
    font-size: 3.5rem;
}

.separator {
    margin-block: 20px;
}

dl {
    margin-left: 25px;
}

dt {
    font-size: 1.75rem;
    padding-block: 10px;
    display: list-item;
    list-style: disc;
}

dt a:any-link {
    color: palegoldenrod;
}

dt::marker {
    color: palegoldenrod;
}

dd {
    display: list-item;
    list-style: square;
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

dd:last-child {
    margin-bottom: 0;
}